{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
  <title>sample</title>
  <link href="{% static 'okada/css/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
 <div class="content">{% block content %}
        {% endblock %}</div>
   <ul id="main_nav">
            <li><a href="{% url 'index' %}">Home<br></a></li>
            <li><a href="{% url 'index2' %}">ペット<br></a></li>
            <li><a href="{% url 'index3' %}">食事<br></a></li>
        </ul>


</body>
</html>