{% extends 'cookpet/base.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'cookpet/css/menu.css'%}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<br><br/>
<br><br/>
<br><br/>
<div id="page">
		<div style="display:inline-block;">
		<main>
			<section id="section01">
				<div class="scroll">
					<h2>二日目　鮭のホイル焼き270kcal</h2>
				</div>

				<div class="contents" id="div01">
					<div class="left">
						<image src="{% static 'cookpet/images/day2.jpg'%}"width="375"height="500"/>
					</div>
					<div class="right text">

<li>

<h4>鮭のホイル焼き270kcal</h4>
・鮭 80g(1切れ)</br>
・油 少々</br>
・人参 40g(1/4本)</br>
・玉ねぎ 30g(1/8個)</br>
・ピーマン 25g(1/2個)</br>
・えのき 20g</br>
・しいたけ 20g(1個)</br>
・しめじ 20g(1/4株)</br>
☆酒 15g(大1)</br>
☆醤油 18g(大1)</br>
☆塩コショウ 少々</br>
・バター 8g(大1)</br>
①人参はせん切りにし、玉ねぎは薄切りにする。ピーマンは種を取り、輪切りにする。</br>
②えのきは根元を落とし長さを半分に切る。しいたけは芯を取り薄切りにする。しめじは石づきを落とし裂く。</br>
③アルミホイルに油を薄く広げ、皮を下にして鮭の切り身を置く。</br>
④野菜やきのを上に盛り☆の調味料を入れ最後にバターを置きアルミホイルで包む。</br>
⑤包んだアルミホイルを湯を張ったフライパンに移して蓋をし、蒸し焼きにする。(中火4分、弱火7～8分)</br>



<h4>ブロッコリーのマヨネーズ和え122kcal</h4>
・ブロッコリー 50g</br>
・塩 少々</br>
・トマト 40g(1/8個)</br>
・マヨネーズ 12g(大1)</br>
・醤油 3g(小1/2)</br>
・塩コショウ 少々</br>

①ブロッコリーを一口大に切り塩茹でする。</br>
②トマトはさいの目切りにする。</br>
③①、②、マヨネーズ、醤油を加え和え、塩コショウで味を整える。</br>



<h4>味噌汁50kcal</h4>
・じゃがいも 25g(1/4個)</br>
・わかめ 10g</br>
・だし 150ml</br>
・味噌 10g(大１)</br>

①じゃがいもは乱切りにし水にさらしておく。</br>
わかめは一口大に切る。</br>
②鍋にだし汁、じゃがいもを入れ蓋をし、煮立たせてから弱火で10分ほど煮る。</br>
③わかめを加えひと煮立ちさせた後、火を止め味噌を溶き入れる。</br>


<h4>ご飯250kcal</h4>

・ご飯160g</br>
</p>
					</div>
				</div>




						</a>
					</div>
				</div>
			</section>
		</main>
		<footer>
</br>
			<h4><a href="{% url 'daietto' %}">一覧に戻る</a></h4>
		</footer>
	</div>
</li>
{% endblock %}