{% extends 'cookpet/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'cookpet/css/menu.css'%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<br><br/>
<br><br/>
<br><br/>
<div id="page">

		<main>
<div style="display:inline-block;">
			<section id="section01">
				<div class="scroll">
					<h2>三日目　親子丼</h2>
				</div>

				<div class="contents" id="div01">
					<div class="left">
						<image src="{% static 'cookpet/images/day3.jpg'%}" width="375"height="500"/>
					</div>
					<div class="right text">
						<h4>親子丼568kcal</h4>
<li>
・ご飯		160g</br>
・鶏むね肉	50g</br>
・卵		100g(2個)</br>
・玉ねぎ	60g(1/4個)</br>
・しいたけ	20g(1個)</br>
・三つ葉	5g</br>
だし汁		50ml</br>
醤油		18g(大1)</br>
みりん		12g(小2)</br>
砂糖		3g(小1)</br>

鶏肉はそぎ切りにし、玉ねぎはせん切り、しいたけは薄切り、三つ葉は3㎝長さに切る。</br>
フライパンにの調味料を入れ強火で煮立て、玉ねぎ、鶏肉、しいたけを入れ蓋をし、煮立たせる。</br>
中火で5分ほど煮て、割りほぐした卵を回し入れ、三つ葉を散らす。</br>
丼にご飯を盛り、をのせる。</br>



<h4>味噌汁 42kcal</h4>
・大根	25g</br>
・里芋	25g(1/2個)</br>
・塩	少々</br>
・えのき　10g</br>
・だし	150ml</br>
・味噌	10g(大１)</br>

大根はせん切りにする。里芋は皮をむき乱切りにし、塩でもんでぬめりを洗い流す。</br>
えのきは根元を落とし、長さを半分に切る。</br>
鍋にだし汁、里芋、大根を入れ蓋をし、煮立たせてから弱火で10分ほど煮る。</br>
えのきを加えひと煮立ちさせた後火を止め味噌を溶き入れる。</br>


<h4>お吸い物</h4>

・とろろ昆布	5g(ひとつまみ)</br>
・麩		2g(3個)</br>
・だし汁	200ml</br>
酒		10g(小2)</br>
みりん		6g(小1)</br>
醤油		12g(小2)</br>
塩		少々</br>

器にとろろ昆布を入れる。</br>
麩を水でやわらかくもどす。</br>
鍋にだし汁、の調味料を入れ強火にかけ、煮立ったら麩を加える。</br>
ひと煮立ちしたら火を止め、に注ぐ。</br>
<h4>白菜の胡麻和え 65kcal</h4>
・白菜	50g</br>
すりごま  6g(小2)</br>
砂糖　6g(小1)</br>
醤油	6g(小1)</br>
だし　4g(小1)</br>

白菜を1㎝幅に切り沸騰した湯に芯・葉の順で入れ、火が通ったら冷水にとって冷まし水気を切る。</br>
上記の調味料を加えよく和える。</br>

<h4>ほうれん草の辛子和え 26kcal</h4>

・ほうれん草	65g</br>
・にんじん	10g</br>
・しめじ	10g</br>
・だし汁	2.5g(小1/2)</br>
・醤油		6g(小１)</br>
・練りからし	1g</br>

ほうれん草を茹で冷水にとって冷まし水気を絞る。</br>
　3㎝の長さに切りそろえる。</br>
人参はせん切りにし、茹でる。</br>
しめじは石づきを取りほぐして茹でる。</br>
、、にだし汁、醤油、練りからしを加え和える。</br>
</p>
					</div>
				</div>




						</a>
					</div>
				</div>
			</section>
		</main>
		<footer>
</br>
</li>
			<h4><a href="{% url 'daietto' %}">一覧に戻る</a></h4>

		</footer>
	</div>
{% endblock %}